/*
 | Buttons
 | Author: Cem Demir - cemdemir.net
 | ------------------------------------------------------------
 */

.button, a.button {
    display: inline-block;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    border: none;
    transition: all 0.15s ease-in;
}

.button:hover, a.button:hover { 
    transition: all 0.15s ease-in; 
    background-color: #000;
}

.small, a.small     { padding: 6px; }
.medium, a.medium   { padding: 10px; }
.large, a.large     { padding: 14px; }

.orange, a.orange   { background-color: #BF7E24; color: #FFF; }
.purple, a.purple   { background-color: #330099; color: #FFF; }
.blue, a.blue       { background-color: #0066CC; color: #FFF; }
.green, a.green     { background-color: #009933; color: #FFF; }
.gray, a.gray       { background-color: #666666; color: #FFF; }
.white, a.white     { background-color: #FFFFFF; color: #666; }

.bold, a.bold       { font-weight: bold; }

/* Large Devices, Wide Screens - 175 */
@media only screen and (max-width : 1200px) {

    .button, a.button   { padding: 15px; }
    .small, a.small     { padding: 10px; }
    .medium, a.medium   { padding: 15px; }
    .large, a.large     { padding: 20px; }

}

/* Medium Devices, Desktops - 200 - iPhone 5S */
@media only screen and (max-width : 992px) {

    .button, a.button   { padding: 20px 30px; }
    .small, a.small     { padding: 15px 20px; }
    .medium, a.medium   { padding: 20px 30px; }
    .large, a.large     { padding: 25px 35px; }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .button, a.button   { padding: 15px; }
    .small, a.small     { padding: 10px; }
    .medium, a.medium   { padding: 15px; }
    .large, a.large     { padding: 20px; }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .button, a.button   { padding: 15px; }
    .small, a.small     { padding: 10px; }
    .medium, a.medium   { padding: 15px; }
    .large, a.large     { padding: 20px; }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}