/*
 | General HTML Elements
 | Author: Cem Demir - cemdemir.net
 | ------------------------------------------------------------
 */

body { font-family: Tahoma, sans-serif; font-size: 12px; line-height: 150%; color: #555; }

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

h1, h2, h3, h4, h5, h6 { padding: 7px 0; font-family: cuprum; font-weight: normal; line-height: 130%; }

p { padding: 7px 0; }

a 			{ color: #666; text-decoration: none; }
a:visited 	{ color: #666; text-decoration: none; }
a:hover 	{ text-decoration: underline; }

ol, ul 	{ padding: 7px 0; list-style-position: inside; }
li 		{ padding: 3px 0; }
ol 		{}
ul 		{}

pre 	{}
code 	{}
span 	{}

table 	{ width: 100%; margin: 10px 0 15px 0; }
thead 	{ background: #EBEBEB; font-weight: bold; color: #333; }
tbody 	{ background: #FFF; }
tfoot 	{ background: #EBEBEB; font-weight: bold; }
td 		{ padding: 8px; border: 1px solid #CCC; }
tr 		{}

hr { height: 3px; background-color: #EBEBEB; border: none; }

.clear:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

/* Large Devices, Wide Screens - 175 */
@media only screen and (max-width : 1200px) {

	body { font-size: 20px; }

	h1 { font-size: 56px; }
	h2 { font-size: 46px; }
	h3 { font-size: 36px; }
	h4 { font-size: 26px; }

	h1, h2, h3, h4, h5, h6 { padding: 12px 0; }

	p { padding: 12px 0; }

	ol, ul 	{ padding: 12px 0; }
	li 		{ padding: 6px 0; }

	table 	{ margin: 12px 0 18px 0; }
	td 		{ padding: 12px; }

	hr { height: 6px; }

}

/* Medium Devices, Desktops - 200 - iPhone 5S */
@media only screen and (max-width : 992px) {

	body { font-size: 26px; }

	h1 { font-size: 64px; }
	h2 { font-size: 54px; }
	h3 { font-size: 44px; }
	h4 { font-size: 34px; }

	h1, h2, h3, h4, h5, h6 { padding: 16px 0; }

	p { padding: 16px 0; }

	ol, ul 	{ padding: 16px 0; }
	li 		{ padding: 8px 0; }

	table 	{ margin: 16px 0 24px 0; }
	td 		{ padding: 16px; }

	hr { height: 8px; }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	body { font-size: 20px;  }

	h1 { font-size: 56px; }
	h2 { font-size: 46px; }
	h3 { font-size: 36px; }
	h4 { font-size: 26px; }

	h1, h2, h3, h4, h5, h6 { padding: 12px 0; }

	p { padding: 12px 0; }

	ol, ul 	{ padding: 12px 0; }
	li 		{ padding: 6px 0; }

	table 	{ margin: 12px 0 18px 0; }
	td 		{ padding: 12px; }

	hr { height: 6px; }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	body { font-size: 26px; }

	h1 { font-size: 64px; }
	h2 { font-size: 54px; }
	h3 { font-size: 44px; }
	h4 { font-size: 34px; }

	h1, h2, h3, h4, h5, h6 { padding: 16px 0; }

	p { padding: 16px 0; }

	ol, ul 	{ padding: 16px 0; }
	li 		{ padding: 8px 0; }

	table 	{ margin: 16px 0 24px 0; }
	td 		{ padding: 16px; }

	hr { height: 8px; }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}