@import url(css/spectrum.css);

/*
 | ------------
 | Application
 | ------------
 */

body { margin: 30px 0; }

.wrapper { width: 900px; margin: auto; }

.font-awesome { font-size: 18px; }
    .font-awesome i { padding-right: 10px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	body { margin: 30px; }
	.wrapper { width: 100%; }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	body { margin: 30px; }
	.wrapper { width: 100%; }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	body { margin: 30px; }
	.wrapper { width: 100%; }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	body { margin: 30px; }
	.wrapper { width: 100%; }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

	body { margin: 30px; }
	.wrapper { width: 100%; }

}
